*{
    color: blue;
    text-align: justify;
}

h1,h2,h3,h4,h5{
    color: blue;
    text-align: center;
}

p{
    color: blue;
    text-align: justify;
}

ul{
    color: blue;
    text-align: justify;
}

img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 300px;









}

